<nav>
    <ul>
        <li><a href="/">主页</a></li>
        <li><a href="/teacher" target="_blank">老师介绍</a></li>
        <li><a href="/contact" target="_blank">联系我们</a></li>
        <li><a href="/course" target="_blank">课程介绍</a></li>
    </ul>
</nav>